.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrow_up {
    font-size: 50px;
    opacity: .2;
    position: absolute;
    top: -100px;
    left: 50%;
    animation: arrow 1s infinite ease-in-out alternate;
}

@keyframes arrow {
    0% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

.exercise_details {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    justify-content: center;
}

.title {
    text-align: center;
}

/* .details {
    overflow: auto;
} */

.exercise {
    cursor: pointer;
    width: fit-content;
    transition: .2s;
}

.exercise:hover {
    text-decoration: underline;
    color: var(--regular-link);
    transform: scale(1.1);
}

.exercise_page {
    display: flex;
    width: 100%;
    /* height: calc(100vh - 40px - 25px - 21px); */
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid var(--primary-accent);
    padding: 25px;
}

.exercises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

.bold {
    font-size: 21px;
}

.description {
    overflow: auto;
    max-height: 200px;
}