.meal_image {
    font-size: 200px;
    opacity: .2;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transform: skew(20deg, 340deg);
    animation: float 3s infinite ease-in-out alternate;
}

@keyframes float {
    0% {
        transform: skew(20deg, 340deg) translateY(-10px);
    }
    100% {
        transform: skew(20deg, 340deg) translateY(10px);
    }
}