header {
    position: relative;
    transition: .5s;
    height: 20px;
    display: flex;
    justify-content: center;
}

form {
    opacity: 0;
    transition: .5s;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    cursor: pointer;
    transition: .5s;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.expanded {
    height: 100px;
    transition: .5s;
}

.rotate {
    transform: translate(-50%) rotate(180deg);
}

.show-form {
    opacity: 1;
    transform: translateY(0);
}
